<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Actividad</title>
</head>
<body>
    <!-- Muestra el nombre del itinerario -->
    <h1>Agregar una nueva actividad al itinerario: {{ itinerario.nombre }}</h1>

    <!-- Se agrega una actividad mediante un formulario con los siguientes campos () -->
    <form method="POST" style="display: inline;">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Agregar Actividad</button>
    </form>

    <!-- Opcion para no agregar una actividad, redirecciona a la visualizacion del itinerario a modificar -->
    <a href="{% url 'ModificarItinerario:ver_itinerario' itinerario.id %}">
        <button type="button">Volver</button>
    </a>
</body>
</html>
