<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Actividad</title>
</head>
<body>
    <!-- Muestra el nombre de la actividad, luego los campos a modificar (horario, dia, nombre y destino) -->
    <h1>Modificar actividad: {{ actividad.nombre }}</h1>

    <!-- Se modifican los datos de la actividad mediante un formulario, al guardar los cambios redirecciona a la visualizacion del itinerario -->
    <form method="POST" style="display: inline;">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Guardar cambios</button>
    </form>

    <!-- Opcion para no modificar la actividad, redirecciona a la visualizacion del itinerario a modificar -->
    <a href="{% url 'ModificarItinerario:ver_itinerario' actividad.itinerario.id %}">
        <button type="button">Volver</button>
    </a>
</body>
</html>
